.header-img {
  background-image: url("https://images.pexels.com/photos/3184418/pexels-photo-3184418.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  background-attachment: fixed;
}
/* table tr {
  height: 30px !important;
}
table th {
  height: 30px !important;
}

table td {
  height: 100%;
} */
